<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Nouvelle commande de la part de: <%= @user.first_name %> <%= @user.last_name %> !</h1>
    <p>
     Cet utilisateur vient de passer commande de: <%= @order.title %> 
    </p>
    <p>
      Voilà, c'est dit
    </p>
  </body>
</html>
