<div class="container">
	<p id="notice"><%= notice %></p>

  <div class="row">
  	<div class="col">
  		<h4>
  			<%= @user.first_name + " " + @user.last_name + " " %>
  			<span class="small"><%= link_to ' (Edit)', edit_user_path(@user), :class => "link" %></span>
  		</h4>
  	</div>
  </div>

  <div class="row mt-4">
  	<div class="col">
  		<h5>My orders</h5>
  	</div>
  </div>

  <div class="row"> 
  	<div class="col">
			<div class="table-responsive">
				<table class="table">
					<thead class="">
					<tr>
						<th class="text-center">#</th>
						<th>Date</th>
						<th>Name</th>
						<th class="text-center">Amount</th>
						<th class="text-center">Status</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">1</td>
						<td>06/03/2019</td>
						<td>Cat in the kitchen</td>
						<td class="text-center">25,00 €</td>
						<td class="text-success text-center">Done</td>
						<td class="text-center">
							<button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
								<i class="now-ui-icons users_single-02"></i>
							</button>
							<button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
								<i class="now-ui-icons ui-2_settings-90"></i>
							</button>
							<button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>
				</table>
  		</div>
  	</div>
	</div>
</div>