<div class="container">
	<p id="notice"><%= notice %></p>

  <div class="row">
  	<div class="col">
  		<h4><%= @user.first_name + " " + @user.last_name + " " %>
  			<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-info btn-round btn-sm text-light" %>
  		</h4>
  	</div>
  </div>

</div>

