<div class="banner">
            <div class='img-banner'>
                <%= image_tag("banner.jpg") %>
            </div>
            <div class='text-banner'>
                <h3 class='txt-ban-prim'>Bonjour <%= current_user.first_name %> !</h3>
                <h5 class='txt-ban-sec'>Bienvenue dans le dashboard admin</h5>
            </div>
        </div> 