<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Merci pour ta commande <%= @user.first_name %> <%= @user.last_name %> !</h1>
    <p>
      <% @items.each do |item| %>
        Tu as passé commandé de la photo <%= item.title %> ? Très bon choix
      <%end %>
    </p>
    <p>
      
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> Reviens vite nous voir sur les 4 chatons fantastiques ! </p>
  </body>
</html>