<div class="ecommerce-page">
    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            
        <div class="main">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">Find what you need</h2>
                        <div class="col-md-9">
                            <div class="row">
                              <% @items.each do |item| %>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <%= image_tag(item.image_url) %>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title"><%= item.title %></h4>
                                            </a>
                                            <p class="card-description">
                                                <%= item.description %>
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price"> &euro; <%= item.price %></span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                              <% end %>
                                <div class="col-md-3 ml-auto mr-auto">
                                    <button rel="tooltip" class="btn btn-primary btn-round">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>