/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require now-ui-kit

 */

@import "font-awesome-sprockets";
@import "font-awesome";
 

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

a:hover {
  background-color: transparent;
}

.img_index {
  width: 400px;
  height: auto;
}

.card-index {
  height: 400px;
  box-shadow: none;
  display: inline-block;
  margin: 60px auto;
  border-radius: 4px;
}

.card-index:hover {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition:  box-shadow .5s ease-in;
}

.title-card {
  margin-top: 0;
  margin-bottom: 0;
}

.description-card {
  color: #9A9A9A;
  font-weight: 300;
  font-size: 1.1em;
}

.text-banner {
  position: absolute;
  z-index: 6;
  margin-top: -35%; 
  margin-left: 8%;
}

.img-banner {
  z-index: 3;
}

.txt-ban-sec {
  color: #9A9A9A;
}

.txt-ban-prim {
  margin-bottom: 5px;
}

.text-banner .btn {
  font-size: 1em;
}