<footer id="sticky-footer" class="py-4 footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li><a href="#creative">Miaouu!</a></li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;2019, Designed and Coded by Mister Fantastic, Invisible Woman, Human Torch and Thing.
    </div>
  </div>
</footer>